@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


* {
	font-family: 'Paytone One', sans-serif;;
	text-align: center;
  }


#canvas {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background-image: url('/docs/assets/images/backcanvas.png');
	}

#startButton {
	width: 10vw;
	height: 5vw;
	text-decoration: none;
	background-image: url(/docs/assets/images/shockedcat.png);
	background-position: center;
	background-size: 110px;
	border: 2px solid black;
  	border-radius: 5px;
	font-size: 25px;
	letter-spacing: 6px;
	text-shadow: 2px 2px white;
	margin-top: 40px;
	cursor: pointer;
}

#telainicial {
	background-image: url('/docs/assets/images/telainicialfinal.png');
	position: fixed;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.hidden{
	visibility: hidden;
} 

body {
	background-image: url('/docs/assets/images/backcatpink.png');
}