@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


* {
	font-family: 'Paytone One', sans-serif;
  }


#canvas {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-left: 300px;
	background-image: url('https://i.ibb.co/xM3Yx08/backcanvas.png');
	}

#startButton {
	width: 17vw;
	height: 4vw;
	text-decoration: none;
	align-items: center;
	background-image: url('https://i.ibb.co/mh0DZcZ/backcatpink.png');
	background-position: center;
	background-size: 110px;
	border: 2px solid white;
  	border-radius: 7px;
	font-size: 25px;
	letter-spacing: 6px;
	text-shadow: 2px 2px white;
	cursor: pointer;
	margin: 550px 650px;

}

#restart {
	display: none;
	width: 17vw;
	height: 4vw;
	text-decoration: none;
	font-size: 25px;
	background-image: url('https://i.ibb.co/mh0DZcZ/backcatpink.png');
	border: 2px solid white;
  	border-radius: 7px;
	font-size: 25px;
	letter-spacing: 6px;
	text-shadow: 2px 2px white;
	cursor: pointer;
	margin-left: 630px;
	margin-top: 10px;
}

#telainicial {
	background-image: url('https://i.ibb.co/wMb7fzC/telabrancainicio.png');
	position: fixed;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.hidden{
	visibility: hidden;
} 

body {
	background-image: url('https://i.ibb.co/VD5GJQ1/lightback.jpg');
	background-size: cover;
}